
<div class="homePageDIvClass" ng-controller="RouteController">


    <div class="containerClass">
        <div class="headerDiv">
            <div class="pull-left">
                <h1>Upcoming Events</h1>
            </div>
            <div class="pull-right">
                <button class="buttonsClass pull-right">
                    <img class="img-responsive" src="css/images/calenderImage.png" />
                </button>
                <button id="listImage" class="buttonsClass list pull-right" ng-click="viewPageFunction('list')">
                    <img class="img-responsive" src="css/images/listImage.png" />
                </button>
                <button id="gridImage" class="buttonsClass grid pull-right" ng-click="viewPageFunction('grid')">
                    <img class="img-responsive" src="css/images/gridImage.png" />
                </button>


            </div>
        </div>
        <ul class="list">
            <li class="imageLiCLass" ng-repeat="paths in imagePaths">
                <a class="media" ng-click="navigateToDetails(paths)">
                    <img id="{{paths.id}}" src="{{paths.icon}}" />
                    <span class="listViewText"><b>Title</b>:-<span class="imageTitle"> {{paths.title}}</span>
                    </span>
                    <span class="listViewText"><b>Venue</b>:-<span class="imageVenue">{{paths.venue}}</span>
                    </span>
                    <span class="listViewText"><b>Date And Time</b>:-<span class="imageDnT">{{paths.dateAndTime}}</span>
                    </span>
                    <span class="listViewText"><b class="descCaption">Description:-</b><span class="imageDesc">{{paths.desc}}</span>
                    </span>
                    <div class="mediaBody">
                        <h4>{{paths.title}}</h4>
                        <p>{{paths.venue}}</p>
                        <p>{{paths.dateAndTime}}</p>
                    </div>
    </div>

    </a>
    </li>

    </ul>
</div>
</div>




<link rel="stylesheet" href="css/overlay.css" />


<link rel="stylesheet" href="css/homePage.css" />
<style>
</style>


<style>
</style>