<div class="container">
	<div class="row-fluid">
		<form class="form-horizontal addEventForm" name="addEventForm">
			<fieldset>
				<legend>Add New Event</legend>
				<div class="row">
					<div class="form-group">
						<label for="eventTitle" class="col-sm-2 control-label">Title :</label>
						<div class="col-sm-10">
							<input id="eventTitle" class="form-control" name="Title" type="text" placeholder="Event Title" ng-model="models.event.title" ng-pattern="/^.{6,}$/" required></input>
						</div>
					</div>
					<div class="form-group">
						<label for="eventVenue" class="col-sm-2 control-label">Venue :</label>
						<div class="col-sm-10">
							<input id="eventVenue" class="form-control" name="Venue" type="text" placeholder="Event Venue" ng-model="models.event.venue" ng-pattern="/^.{6,}$/" required></input>
						</div>
					</div>
					<div class="form-group">
						<label for="eventDesc" class="col-sm-2 control-label">Description :</label>
						<div class="col-sm-10">
							<textarea id="eventDesc" class="form-control" name="Desc" type="text" placeholder="Event Description" ng-model="models.event.desc"  ng-pattern="/^.{6,}$/" required></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="eventDateAndTime" class="col-sm-2 control-label">Date And Time :</label>
						<div class="col-sm-10">
							<input id="eventDateAndTime" class="form-control" name="DateAndTime" type="text" placeholder="ddth Month year hh:mm pm/am" ng-model="models.event.dateAndTime" ng-pattern="/^.{6,}$/" required></input>
						</div>
					</div>
					
				</div>
			</fieldset>
			<div class="form-actions align-center">
				<button ng-disabled="addEventForm.$invalid" class="btn btn-primary" ng-click="saveEvent()">
						Save Event
				</button>
			</div>
		</form>
	</div>
</div>

<style type="text/css">
	.form-horizontal {
		margin-left: 82px;
		margin-right: 82px;

	}
	.align-center{
		text-align: center;
	}
	input.ng-dirty.ng-invalid,textarea.ng-dirty.ng-invalid{
		background-color:#cd5c5c;
	}
	input.ng-dirty.ng-valid, textarea.ng-dirty.ng-valid{
		background-color:#9acd32 ;
	}
</style>