
<div class="homePageDIvClass">


    <div class="containerClass">
        <div class="headerDiv">
            <div class="pull-left">
                <h1>Upcoming Events</h1>
            </div>
            <div class="pull-right sideIconsDiv">
               
                      <i class="sideIcons fa fa-table fa-2x" ng-click="viewPageFunction('grid')"></i>
  
                     <i class="sideIcons fa fa-list fa-2x" ng-click="viewPageFunction('list')"></i>
 
                     <i class="sideIcons fa fa-calendar fa-2x"></i>

            </div>
        </div>
        <ul class="list">
            <li class="imageLiCLass" ng-repeat="paths in imagePaths |  filter:searchFieldValGlobal">
                <a class="media" ng-click="navigateToDetails(paths)">
                    <img id="{{paths.id}}" src="{{paths.icon}}" />
                    <span class="listViewText"><b>Title</b>:-<span class="imageTitle"> {{paths.title}}</span>
                    </span>
                    <span class="listViewText"><b>Venue</b>:-<span class="imageVenue">{{paths.venue}}</span>
                    </span>
                    <span class="listViewText"><b>Date And Time</b>:-<span class="imageDnT">{{paths.dateAndTime}}</span>
                    </span>
                    <span class="listViewText"><b class="descCaption">Description:-</b><span class="imageDesc">{{paths.desc}}</span>
                    </span>
                    <div class="mediaBody">
                        <h4>{{paths.title}}</h4>
                        <p>{{paths.venue}}</p>
                        <p>{{paths.dateAndTime}}</p>
                    </div>

    </div>

    </a>
    </li>

    </ul>




</div>
</div>




<link rel="stylesheet" href="css/overlay.css" />


<link rel="stylesheet" href="css/homePage.css" />
<style>
</style>


<style>
</style>