.headerDiv {
    display: inline-block;
    width: 100%;
}
.headerDiv h2 {
    color: red;
}
.sideIconsDiv{
    padding-top: 2%;
}
.sideIcons{
    margin-right:10px;
    cursor: pointer;
}
.homePageDIvClass {
    margin-left: 32px;
}
.containerClass ul {
    list-style: none;
}
.containerClass .buttons {
    margin-bottom: 20px;
}
.containerClass .list li {
    width: 100%;
    border-bottom: 1px dotted #CCC;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: rgb(247, 247, 247);
    border-radius: 4%;
    cursor: pointer;
}
.containerClass .list li a {
    display: inline-block;
    width: 100%;
}
.containerClass .grid li img {
    height: 100%;
    width: 100%;
}
.containerClass .grid li {
    float: left;
    width: 33%;
    height: 240px;
    border-bottom: 1px dotted #CCC;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
  margin-right: 3px;
  margin-bottom: 8px;
}
.containerClass .grid li .listViewText {
    display: none;
}
.containerClass .list li img {
    float: left;
    height: 77px;
    margin-top: 1%;
    width: 120px;
}
.containerClass .list li .listViewText {
    display: inline-block;
    float: left;
    width: 80%;
    padding-top: 0%;
    margin-left: 2%;
    text-align: left;     
    color: #643A3A;
    font-family: "Montserrat", sans-serif;
}
.containerClass .list li .listViewText b {
    color: #576969;
}
.searchBoxContainer{
    margin : 0 0 2% 3%;
    float: left !important;
}
.searchFields{
    display: inline-block;
    width: 100%;
}