.marginBot40 {
    margin-bottom: 40px;
}
.imgIconMenuCLass {
    height: 34px;
    width: 22px;
}
#sidebar-scroller {
    width: 4%;
    overflow: hidden;
}
#sidebar-wrapper {
    -webkit-appearance: none;
    margin-left: -250px;
    left: 250px;
    width: 5%;
    background: #d53327;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}
#page-content-wrapper {
    width: 100%;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: auto;
    padding-left: 20px;
    padding-top: 60%;
}
.sidebar-nav > .sidebar-brand a {
    color: #000000;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.content-header {
    height: 65px;
    line-height: 65px;
}
.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}
#menu-toggle {
    display: none;
}
.inset {
    padding: 20px;
}
@media (max-width: 767px) {}
::-webkit-scrollbar,
::-moz-appearance {
    display: none;
}